* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  background-color: black;
}
main {
  width: 50%;
  margin: auto;
  display:flex;
  justify-content: center;
  align-items: center;
  Height: 100vh;
  /*margin-top:*/
}
.my-card {
  background-image: url("./images/bg-intro-mobile.png");
  /*background-repeat: no-repeat;*/
  background-position: center;
  display: flex;
  flex-direction: column;
  width:100%;
  align-items: center;
  padding: 1em;
  background-color: hsl(0, 100%, 74%);
}
@media screen and (min-width: 870px) {
  .my-card{
    background-image: url("./images/bg-intro-desktop.png");
    display:flex;
    flex-direction: row;
    width:100%;
    padding: 2.5em;
    align-items: center;
    background-color: hsl(0, 100%, 74%);
  }
  .text{
    padding-left: 2em; 
  }
}

.text {
  color: whitesmoke;
  padding-left: 0.5em;
  width: 100%;
  font-family: Poppins;
}
.text h1 {
  font-size: 30px;
  padding-bottom: 10px;
  font-weight: bold;
}
.text p {
  font-size: 12px;
  padding-bottom: 10px;
}
.form-div {
  display: flex;
  flex-direction: column;
  width:100%;
  align-items: center;
  padding: 1em;

  margin:auto;
  font-family: Poppins;
}
.form-div .top-button {
  align-items: center;
  justify-content: center;
  background-color: hsl(248, 32%, 49%);
  color: white;
  font-size: 12px;
  margin-bottom: 1em;
  border: none; 
  outline: none;
  padding:0.5rem;
  width: 100%;
}
.form-div .main-form {
  background-color: white;
  /*margin: 0.5em;*/
  width:100%;
}
.form-div .form-group {
  /*padding: 0.5em;*/
  margin: 0.5em;
  /*width: 100%;*/
}
.form-div .form-control{
  width:100%;
  padding: 0.5em;
}
.form-div .down-button {
  display: block;
  width: 100%;
  background-color: hsl(154, 59%, 51%);
  border: none; outline: none;

  align-items: center;
  justify-content: center;
  color: white;
  font-size: 10px;
  margin-bottom: 1em;
  border: none; 
  outline: none;
  padding: 5px;
}
.form-div .down-button:hover{
  background-color: hsl(152, 59%, 70%);
}
.text-under-button {
  margin: 0.5em;
  font-size: 10px;
}
.text-under-button a {
  color: red;
}
.invalid-feedback{
  display: none;
}
input:invalid{
  .invalid-feedback{
    display: flex;
  }
}